Flask==3.1.0
imageio==2.33.1
matplotlib==3.10.1
numpy>=1.23.5
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
Pillow==11.2.1
python_dateutil==2.9.0.post0
scikit_learn==1.6.1
scipy==1.15.2
six==1.16.0
tensorflow==2.16.1
ultralytics==8.3.103
Werkzeug==3.1.3
